.container{
	max-width: 1000px;
	margin: 0 auto;
}

header{
	display: flex;
	align-self: center;
	justify-content: space-between;
}

ul{
	display: flex;
	align-self: center;
	justify-content: space-between;
}